<div class="card">
	<p-dataview
		#dv
		[value]="data"
		[layout]="layout"
		[paginator]="true"
		[rows]="4"
		[rowsPerPageOptions]="[4, 8, 10, 50, 100]"
		[sortField]="sortField"
		[sortOrder]="sortOrder"
	>
		<ng-template #header>
			<div class="flex flex-col md:flex-row md:justify-between">
				<p-select
					[options]="sortOptions"
					[(ngModel)]="sortKey"
					placeholder="Ordenar por Data"
					(onChange)="onSortChange($event)"
					class="mb-2 md:mb-0"
				/>
			</div>
			<div class="flex justify-end">
				<p-selectbutton
					[(ngModel)]="layout"
					[options]="options"
					[allowEmpty]="false"
				>
					<ng-template #item let-item>
						<i
							class="pi"
							[ngClass]="{
								'pi-bars': item === 'list',
								'pi-table': item === 'grid'
							}"
						></i>
					</ng-template>
				</p-selectbutton>
			</div>
		</ng-template>
		<ng-template #list let-items>
			<div *ngFor="let item of items; let first = first">
				<div
					class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
					[ngClass]="{
						'border-t border-surface-200 dark:border-surface-700':
							!first
					}"
				>
					<div class="md:w-40 relative">
						<p-image
							[src]="imageUrl"
							alt="Atípico"
							[preview]="true"
							class="image"
							style="cursor: pointer"
						/>
						<p-tag
							[value]="item.status"
							[severity]="getSeverity(item)"
							class="absolute dark:!bg-surface-900"
							[style.left.px]="4"
							[style.top.px]="4"
						/>
					</div>
					<div
						class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6"
					>
						<div
							class="flex flex-row md:flex-col justify-between items-start gap-2"
						>
							<div>
								<span
									class="font-medium text-surface-500 dark:text-surface-400 text-sm"
									>{{ item.fazenda }}</span
								>
								<div class="text-lg font-medium mt-2">
									{{
										item.createdAt
											| date : "dd/MM/yyyy - HH:mm"
									}}
								</div>
								<!-- <div
									class="font-medium text-surface-500 dark:text-surface-400 text-sm"
								>
									Responsável: {{ item.user }}
								</div> -->
							</div>
						</div>
						<div class="flex flex-col md:items-end gap-8">
							<span class="text-xl font-semibold"
								>Criado por: Carlos</span
							>
							<div
								class="flex flex-row-reverse md:flex-row gap-2"
							>
								<button
									pButton
									icon="pi pi-trash"
									label="Excluir"
									[disabled]="item.status === 'FAILED'"
									class="flex-auto md:flex-initial whitespace-nowrap"
									severity="danger"
								></button>
								<button
									pButton
									icon="pi pi-pencil"
									label="Editar"
									[disabled]="item.status === 'FAILED'"
									class="flex-auto md:flex-initial whitespace-nowrap"
									severity="info"
								></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
		<ng-template #grid let-items>
			<div class="grid grid-cols-12 gap-4">
				<div
					*ngFor="let product of items"
					class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-6 p-2"
				>
					<div
						class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded flex flex-col"
					>
						<div class="flex justify-center rounded p-4">
							<div class="relative">
								<p-image
									[src]="imageUrl"
									alt="Atípico"
									[preview]="true"
									class="image"
									style="cursor: pointer"
								/>
								<p-tag
									[value]="product.status"
									[severity]="getSeverity(product)"
									class="absolute dark:!bg-surface-900"
									[style.left.px]="4"
									[style.top.px]="4"
								/>
							</div>
						</div>
						<div class="pt-6">
							<div
								class="flex flex-row justify-between products-start gap-2"
							>
								<div>
									<span
										class="font-medium text-surface-500 dark:text-surface-400 text-sm"
										>{{ product.fazenda }}</span
									>
									<div class="text-lg font-medium mt-2">
										{{
											product.createdAt
												| date : "dd/MM/yyyy - HH:mm"
										}}
									</div>
									<div class="text-lg font-medium mt-1">
										Criado por: {{ product.user }}
									</div>
								</div>
							</div>
							<div class="flex flex-col md:items-end gap-8">
								<!-- <span class="text-xl font-semibold"
									>Responsável: Carlos</span
								> -->
								<div
									class="flex flex-row-reverse md:flex-row gap-2"
								>
									<button
										pButton
										icon="pi pi-trash"
										label="Excluir"
										[disabled]="product.status === 'FAILED'"
										class="flex-auto md:flex-initial whitespace-nowrap"
										severity="danger"
									></button>
									<button
										pButton
										icon="pi pi-pencil"
										label="Editar"
										[disabled]="product.status === 'FAILED'"
										class="flex-auto md:flex-initial whitespace-nowrap"
										severity="info"
									></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</p-dataview>
</div>
