<div class="card grid grid-cols-1 md:grid-cols-1 gap-4 w-full">
	@for (field of fields; track $index) { @if (field.show()) {
	<p-inputgroup>
		<p-inputgroup-addon>
			<i [class]="field.icon"></i>
		</p-inputgroup-addon>

		<!-- Text / Email -->
		@if (field.type === 'text' || field.type === 'email') {
		<input
			pInputText
			[ngModel]="formData[field.control]"
			(ngModelChange)="updateField(field.control, $event)"
			[placeholder]="field.placeholder?.()"
			[type]="field.type"
		/>
		}

		<!-- Password -->
		@if (field.type === 'password') {
		<p-floatlabel variant="on">
			<p-password
				[ngModel]="formData[field.control]"
				(ngModelChange)="updateField(field.control, $event)"
				inputId="password_label"
				[toggleMask]="true"
				[feedback]="false"
			/>
			<label for="password_label">{{ field.label?.() }}</label>
		</p-floatlabel>
		}

		<!-- Select -->
		@if (field.options) {
		<p-select
			[ngModel]="formData[field.control]"
			(ngModelChange)="updateField(field.control, $event)"
			[options]="field.options()"
			optionLabel="name"
			[placeholder]="field.placeholder()"
		/>

		}

		<!-- Upload -->
		@if (field.type === 'file') {
		<p-fileUpload
			[name]="field.control"
			[auto]="true"
			[maxFileSize]="1000000"
			[chooseLabel]="'Escolher Arquivo'"
			[uploadLabel]="'Enviar'"
			[cancelLabel]="'Cancelar'"
		></p-fileUpload>
		}
	</p-inputgroup>
	} }

	<!-- Submit -->
	<p-inputgroup class="!mt-5">
		<p-button
			[label]="config.placeholderSubmitButton"
			icon="pi pi-check"
			[loading]="loading"
			(onClick)="load()"
		/>
	</p-inputgroup>
</div>
