services:
  database:
    container_name: database
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: ${DATABASE}
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
    ports:
      - ${DATABASE_PORT}:3306
    volumes:
      - ./mysql/${DATABASE_VOLUME}:/var/lib/mysql
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules

  backend:
    container_name: backend
    image: backend
    restart: always
    build:
      context: ./Backend
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - ${USER_PORT}:8080
    links:
      - database
      - rabbitmq
    depends_on:
      - database
      - rabbitmq
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
