.map-container {
    width: 100%;
    max-width: 800px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    background: white;
    margin: auto;
}

iframe {
    width: 100%;
    height: 400px;
    border: none;
}

@media (max-width: 600px) {
    iframe {
    height: 300px;
    }
}