.login-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #000000d3;
	background-image: url("../../../../../assets/capa.jpg");
	background-size: cover;
	background-blend-mode: overlay;
	opacity: 1;
}
