.home-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.home-layout-mobile {
  flex-direction: column;
}

.home-layout-desktop {
  flex-direction: row;
}

.content {
	width: 100%;
	height: 100vh;
	padding: 0.5rem .5rem;
    overflow: auto;
}

.menu{
	overflow: hidden;
}

