@import "primeicons/primeicons.css";
@import "tailwindcss";
@plugin "tailwindcss-primeui";

/* @import 'primeicons/primeicons.css';

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
} */

/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
