<div class="card">
  <p-tabs value="0">
    <p-tablist>
      <!-- <p-tab value="0">Normal ({{ response?.situation?.normal?.length }})</p-tab> -->
      <p-tab value="1">Atípicos ({{ response?.situation?.atipico?.length }})</p-tab>
      <!-- <p-tab value="2">Deitados ({{ response?.posture?.deitados?.length }})</p-tab> -->
      <p-tab value="3">Localização</p-tab>
      <!-- <p-tab value="4">Detectados ({{ response?.cows_bbs?.length }})</p-tab> -->
    </p-tablist>
    <p-tabpanels>

      <!-- 🐄 normal -->
      <!-- <p-tabpanel value="0">
        <ng-container *ngIf="response?.situation?.normal?.length; else noNormal">
          <p-image
            *ngFor="let img of response.situation.normal"
            [src]="img"
            alt="Normal"
            width="325"
            [preview]="true"
            class="image"
          />
        </ng-container>
        <ng-template #noNormal>
          <p>Nenhum animal nomal encontrado.</p>
        </ng-template>
      </p-tabpanel> -->

      <!-- 🐄 Atípicos -->
      <p-tabpanel value="1">
        <ng-container *ngIf="response?.situation?.atipico?.length; else noAtipicos">
          <p-image
            *ngFor="let img of response.situation.atipico"
            [src]="img"
            alt="Atípico"
            width="300"
            [preview]="true"
            class="image"
          />
        </ng-container>
        <ng-template #noAtipicos>
          <p>Nenhum animal atípico encontrado.</p>
        </ng-template>
      </p-tabpanel>

      <!-- 🐄 Deitados -->
      <!-- <p-tabpanel value="2">
        <ng-container *ngIf="response?.posture?.deitados?.length; else noDeitados">
          <p-image
            *ngFor="let img of response.posture.deitados"
            [src]="img"
            alt="Deitado"
            width="300"
            [preview]="true"
            class="image"
          />
        </ng-container>
        <ng-template #noDeitados>
          <p>Nenhum animal deitado encontrado.</p>
        </ng-template>
      </p-tabpanel> -->

      <!-- 🗺️ Localização -->
      <p-tabpanel value="3">
        <app-mapa></app-mapa>
      </p-tabpanel>

      <!-- detectados -->
      <!-- <p-tabpanel value="4">
        <ng-container *ngIf="response?.cows_bbs?.length; else noDetectados">
          <p-image
            *ngFor="let img of response.cows_bbs"
            [src]="img"
            alt="detectados"
            width="300"
            [preview]="true"
            class="image"
          />
        </ng-container>
        <ng-template #noDetectados>
          <p>Nenhum animal detectado.</p>
        </ng-template>
      </p-tabpanel> -->

    </p-tabpanels>
  </p-tabs>
</div>
