<div class="card">
	<!-- Tabs externas: cada baia -->
	<p-tabs [(value)]="selectedTab">
		<p-tablist>
			@for (baia of data; track baia.nomeBaia.value) {
				<p-tab [value]="baia.nomeBaia.value">
					{{ baia.nomeBaia.title }}
				</p-tab>
			}
		</p-tablist>

		<p-tabpanels>
			@for (baia of data; track baia.nomeBaia.value) {
				<p-tabpanel [value]="baia.nomeBaia.value">
					<!-- Conteúdo interno da baia -->
					<div class="card">
						<p-tabs value="0" >
							<p-tablist>
								<p-tab value="0">
									Atípicos ({{ baia.atipicosBaia.length }})
								</p-tab>
								<p-tab value="1">Localização</p-tab>
							</p-tablist>

							<p-tabpanels>
								<!-- 🐄 Atípicos -->
								<p-tabpanel value="0" class="flex flex-wrap gap-3">
									<ng-container
										
										*ngIf="baia.atipicosBaia?.length; else noAtipicos"
									>
										<p-image
											*ngFor="let img of baia.atipicosBaia"
											[src]="img"
											alt="Atípico"
											[preview]="true"
											class="image"
											style="cursor: pointer"

										/>
									</ng-container>

									<ng-template #noAtipicos>
										<p>Nenhum animal atípico encontrado.</p>
									</ng-template>
								</p-tabpanel>

								<!-- 🗺️ Localização -->
								<p-tabpanel value="1">
									<app-mapa
										[latitude]="baia.coordenadaBaia.latitude"
										[longitude]="baia.coordenadaBaia.longitude"
									></app-mapa>
								</p-tabpanel>
							</p-tabpanels>
						</p-tabs>
					</div>
				</p-tabpanel>
			}
		</p-tabpanels>
	</p-tabs>
</div>
